
.form {
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
}

.subtitle {
  color: #0303036e;
  font-weight: 600;
}

.title {
  font-size: 34px;
  margin: 0px;
  text-align: center;
  color: #003468;
    font-family: 'Ubuntu';
    font-size: 38px;
}

.label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.input {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Ubuntu';
  color: #003468;
}

.error {
  color: red;
  margin-top: -15px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #6127ff;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  transform: translateY(-12%);
  
}

.button:hover {
  background-color: #005bb5;
}

.backButton {
  color: #747474;
  background-color: transparent;
}

.backButton:hover {
  background-color: transparent;
  color: #1d1d1d
}
.buttoncontainer{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 700px) {
  .form {
    height: auto;
  }

  .buttoncontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(9%);
    background-color: #ffffff;
  }

  .button {
   
    margin: 10px;
  }
}