
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
 
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  color: #003468;
    font-family: 'Ubuntu';
    font-size: 38px;
  margin-bottom: 10px;
  margin-top: 0;
}

.message {
  font-size: 22px;
  color: #6c757d;
  font-family: 'Ubuntu';

}
